<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>index</small></a>
    </li>
    <li>
      <a href="/about">about<small>about this site</small></a>
    </li>
    <li>
      <a href="/posts">posts<small>blog + log</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
